/* @import url(); To import fonts */

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(100, 100, 100, 90)
}

html, body {
    margin: 0;
    padding: 0;
}

/* Styling the header with Slackpoli text */
.main-header {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("images/highline.jpg");
    filter: grayscale(100%);
    background-size:cover;
    background-blend-mode: multiply;
    padding-top: 450px;
    text-align: center;
}

.main-header a {
    text-decoration: none;
}

.slackpoli-name {
    text-align: center;
    font-size: 2em;
    margin: 0;
    color: rgb(230, 230, 230);
}

.slackpoli-name-large {
    font-size: 6em;
    padding-bottom: 0.25em;
}


/* Styling the navigation bar */
.main-nav {
    border-top: 1px solid rgba(0,0,0,0.5);
    text-align: center;
    background-color: rgba(0, 50, 80, 0.583);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.nav ul {
    margin: 0;
}


.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.25em 1em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


/* Styling the content and the content container */
.content-section {
    margin: 1em;
    text-align: justify;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}

/* Styling the practice sessions table */
.practice-table {
    padding: 1em;
    padding-bottom: 2em;
    text-align: left;
    width: 100%;
}


/* Styling the footer */
.main-footer {
    background-color: rgba(0, 50, 80, 0.583);
}

.main-footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-footer li {
    padding: 0 2em;
    color: rgb(230, 230, 230);
    font-weight: bold;
    font-size: 1.25em;
}


/* Styling the Gallery page */
.gallery-header {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0.5em;
}

.gallery-image {
    display: block;
    border: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 1em;
    max-width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 1em;
}

