/* @import url(); To import fonts */

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(100, 100, 100, 90)
}

html, body {
    margin: 0;
    padding: 0;
}

.main-nav {
    text-align: center;
    background-color: rgba(0, 50, 80, 0.583);
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.nav ul {
    margin: 0;
}


.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.25em 1em;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bolder;
    color: white;
}

.nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-header {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("images/highline.jpg");
    filter: grayscale(100%);
    background-size:cover;
    background-blend-mode: multiply;
    padding-top: 500px;
    text-align: center;
}

.slackpoli-name {
    text-align: center;
    font-size: 2em;
    margin: 0;
    color: rgb(230, 230, 230);
}

.slackpoli-name-large {
    font-size: 5em;
    padding-bottom: 1em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}


.section-header {
    font-family:'Courier New', Courier, monospace;
    font-size: 2em;
}

.main-footer-container {
    display: flex;
    align-items: center;
    height: ;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.main-footer {
    background-color: rgba(0, 50, 80, 0.583);
}

.main-footer li {
    padding: 0 2em;
    color: rgb(230, 230, 230);
    font-weight: normal;
    font-size: 1em;
}


