/* @import url(); To import fonts */

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(100, 100, 100, 90)
}

html, body {
    margin: 0;
    padding: 0;
}

.main-nav {
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.nav ul {
    margin: 0;
}


.nav li {
    display: inline;
}



.nav a {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-size: 2em;
    font-weight: bolder;
}


.nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}



/* Change the image to bw */
.main-header {
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("images/highline.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-top: 600px;
    text-align: center;
}

.slackpoli-name {
    display: inline-block;
    font-size: 5em;
    padding: 0.2em;
    color: rgb(230, 230, 230);
}

